/*index page styles*/
.page-wrapper{
    height: 100%;
    margin: 20px auto;
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label{
    text-align: center;
    margin:30px 0;
}

.buttons-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.meditation-length {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.meditation-length i {
    font-size: 3em;
}

.meditation-length div {
    width: 100%;
    text-align: center;
}

.meditation-length.hightlight {
    color:red;
}

.nav-start{
    text-align: center;
    margin: 20px;
}